html, body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #b5b5ff;
  text-align: center;
}

.arrow {
  position: absolute;
  width: 80px;
  z-index: 10;
  transform: rotate(90deg);
  margin-left: -89px;
  margin-top: 142px;
}

@media (prefers-reduced-motion: no-preference) {
  .passive-spin1 {
    animation: passive-spin1 10s cubic-bezier(0,.70,.70,1) forwards;
    animation-delay: .7s;
  }
  .passive-spin2 {
    animation: passive-spin2 10s cubic-bezier(0,.70,.70,1) forwards;
    animation-delay: .7s;
  }
  .passive-spin3 {
    animation: passive-spin3 10s cubic-bezier(0,.70,.70,1) forwards;
    animation-delay: .7s;
  }
  .passive-spin4 {
    animation: passive-spin4 10s cubic-bezier(0,.70,.70,1) forwards;
    animation-delay: .7s;
  }
  .passive-spin5 {
    animation: passive-spin5 10s cubic-bezier(0,.70,.70,1) forwards;
    animation-delay: .7s;
  }
}

@keyframes passive-spin1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(800deg);
  }
}

@keyframes passive-spin2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(980deg);
  }
}

@keyframes passive-spin3 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(730deg);
  }
}

@keyframes passive-spin4 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1400deg);
  }
}

@keyframes passive-spin5 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1070deg);
  }
}
